body {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
@font-face {
	font-family: myCursive;
	src: url(./assets/fonts/static/DancingScript-Regular.ttf);
}
@font-face {
	font-family: arvoBold;
	src: url(./assets/fonts/static/Arvo-Bold.ttf);
}
@media only screen and (min-width: 1200px) {
	#why {
		background: url("./assets/plant-back.jpg");
	}
}
@media only screen and (max-width: 1200px) {
	#why {
		background: rgba(200, 208, 205, 0.3);
	}
}
.uk-card-default {
	-webkit-transition: all 1.7s ease;
	transition: all 0.5s ease;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

.custom-text {
	font-family: arvoBold;
	font-size: 1rem;
}

.uk-card-secondary {
	-webkit-transition: all 1.7s ease;
	transition: all 0.5s ease;
}

.uk-heading-line {
	font-family: myCursive;
}

.uk-heading-large,
.centered-heading-small,
.centered-heading-large,
.uk-heading-small {
	font-family: arvoBold;
}

.uk-list-inline > li {
	list-style: none;
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}

.centered-heading-small {
	font-size: 1rem;
}

.centered-heading-large {
	font-size: 2rem;
}

.sw-heading-small {
	font-size: 1rem;
}

.sw-heading-medium {
	font-size: 1.5rem;
	font-weight: bold;
}

.sw-pb-small {
	padding-bottom: 20px;
}

.sw-heading-large {
	font-size: 2rem;
}

.sw-flat-card > div {
	margin-top: 10px;
}

.uk-card {
	cursor: pointer;
	margin-top: 30px;
	border-radius: 10%;
}
.break {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
	width: 80px;
	margin: 20px auto;
	border: 1px solid rgba(0, 0, 0, 0.5);
}
